.table {
}

.container{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

tbody td{
  text-align: center;
  margin: 8px;
  height: 30px;
  background-color: aqua;
}

thead th{
  padding: 20px;
  background-color: cadetblue;
}