.searchBox{
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 0px;
}

.btn{
    background-color: lightgreen;
    color: azure;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8%;
    border: 0px;
    width: 80px;
    height: 35px;
    margin: 20px;
}

.btn:hover{
    background-color: aquamarine;
}

label{
    font-weight: 500;
    font-size: 18px;
    margin: 10px;
}

.textbox{
    height: 35px;
    width: 250px;
    margin: 10px;
    border-radius: 4px;
}
